* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: left;
}

    nav ul {
        display: inline-block;
        list-style-type: none;
        padding-left: 50px;
    }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
    padding-left: 50px;
}

    .col-2 img {
        max-width: 100%;
        padding: 50px 0;
        margin-top: -40px;
    }

    .col-2 h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
    }

.join {
    display: inline-block;
    background: #c037e8;
    color: white !important;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

    .join:hover {
        background: #002cff;
    }

.header {
    background-image: url("bg2.jpg");
    background-size: 200vh;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

    .header .row {
        margin-top: 20px;
    }

.categories {
    margin: 70px 0;
}

    .categories h2 {
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 60px;
        color: #555;
    }

        .categories h2::after {
            content:'';
            background:purple;
            width:80px;
            height: 5px;
            border-radius:5px;
            position:absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
        }

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

    .col-3 img {
        width: 100%;
    }

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

a {
    color: purple !important; /* Default link color */
    text-decoration: none !important; /* Remove underlines */
}

    /* Define the link styles on hover */
    a:hover {
        background-color: none !important; /* Highlight color when hovered */
        color: #eb5dd3 !important; /* Text color when hovered */
        text-decoration: none !important; /* Underline on hover */
        outline: 2px purple !important;
    }

/* Footer */

.footer{
    background:#000;
    color: white;
    font-size:14px;
    padding:60px 0 20px;
}


.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, footer-col-3, .footer-col-4{
    min-width:250px;
    margin-bottom:20px;
}

.footer-col-1{
    flex-basis:30%;
}
.footer-col-2 {
    flex: 1;
    text-align:center;
}

.footer-col-2 img{
    width: 120px;
    margin-bottom:20px;
}
  
.footer-col-3, .footer-col-4{
    flex-basis:12%;
    text-align:center;
}

.footer-col-4{
    padding-top:18px;
}
ul{
    list-style-type:none;
}

.footer hr{
    border:none;
    background: #b5b5b5;
    height:1px;
    margin: 20px 0;
}

.Login .btn.btn-primary{
    background-color: purple;
    color: white;
}